$blueish: #18406b;
$offWhite: #f1f1f1;
$greenish: #59aa99;
$blackish: #2b292a;
$grey: #4c4c4c;

$basePadding: 0.9735rem;

body {
	background: darken($offWhite, 5);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	color: $blackish;
}

a {
	color: $greenish;

	&:hover {
		color: darken($greenish, 25);
	}
}

.right {
	text-align: right;
}

.container {
	max-width: 65rem;
	margin: 100px auto 0;
	background: white;
	min-height: calc(100vh - 100px);
	padding: $basePadding;
	
	&:before {
		content: "";
		width: 100vw;
		z-index: -1;
		height: 200px;
		background: $blueish;
		position: absolute;
		top: 0; right: 0;
	}
}


.tweets {
	border: 1px solid $blackish;
	padding: $basePadding;
	margin: 0 0 $basePadding;
	background: $offWhite;

	
	.tweet {
		list-style: none;
		border-bottom: 1px solid $blackish;
		padding-bottom: $basePadding;
		margin-bottom: $basePadding;
		position: relative;

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	
		.username, .message {
			float: left;
			display: block;
			width: calc(100% - 165px);
		}

		.username {
			padding-bottom: $basePadding / 2;
			position: relative;

			&:after {
				content: "";
				display: block;
				background: $blueish;
				width: 35px;
				height: 1px;
				position: absolute;
				bottom: $basePadding / 4;
				left: 0;
			}
		}

		.message {
			font-size: 0.875rem;
			word-wrap: break-word;
		}

		.tweet-data {
			width: 150px;
			float: right;
			background: $blueish;
			color: white;
			text-align: center;
			padding: $basePadding;
			height: 100%;

			.loc {
				padding: 5px;
				background: white;
				border-radius: 2px;
				font-weight: 600;
				color: $blueish;
				margin-bottom: 10px;

				.flag-icon {
					margin-right: 10px;
				}
			}

			.dateTime {
				.day, .month, .time {
					display: block;
				}
				.day {
					font-size: 2rem;
					font-weight: 600;
					line-height: 1;
				}
			}
		}

		.tone {
			display: block;
			position: absolute;
			font-size: 0.75rem;
			color: white;
			padding: 0 15px;
			top: -5px;
			right: 165px;


			&:before {
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 5px 5px;
				position: absolute;
				left: -5px;
			}
			

			&.tone-neutral {
				background: grayscale($blueish);

				&:before {
					border-color: transparent transparent darken(grayscale($blueish),20) transparent;
				}
			}
			&.tone-good {
				background: $blueish;
				
				&:before {
					border-color: transparent transparent darken($blueish,20) transparent;
				}
			}
			&.tone-bad {
				background: invert($blueish);

				&:before {
					border-color: transparent transparent darken(invert($blueish),20) transparent;
				}
			}
		}

		&:before {
			content: "";
			width: 125px;
			height: 1px;
			background: $blackish;
			position: absolute;
			top: 0px;
			right: 160px;
		}
		

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}
}

.trends {
	margin: 0 0 $basePadding;

	li {
		padding: 0;
		list-style: none;
		
		.number {
			margin-right: 15px;
			border-radius: 20px;
			display: inline-block;
			padding: 5px;
			color: white;
		}
	}

	&.pos li .number {
		background-color: $blueish;
	}

	&.neg li .number {
		background-color: invert($blueish);
	}
}

button {
	padding: 15px 25px;
	background-color: $blueish;
	color: white;

	&:hover {
		background-color: darken($blueish,5);
	}
}