body {
  background: #e4e4e4; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  color: #2b292a; }

a {
  color: #59aa99; }
  a:hover {
    color: #2d574e; }

.right {
  text-align: right; }

.container {
  max-width: 65rem;
  margin: 100px auto 0;
  background: white;
  min-height: calc(100vh - 100px);
  padding: 0.9735rem; }
  .container:before {
    content: "";
    width: 100vw;
    z-index: -1;
    height: 200px;
    background: #18406b;
    position: absolute;
    top: 0;
    right: 0; }

.tweets {
  border: 1px solid #2b292a;
  padding: 0.9735rem;
  margin: 0 0 0.9735rem;
  background: #f1f1f1; }
  .tweets .tweet {
    list-style: none;
    border-bottom: 1px solid #2b292a;
    padding-bottom: 0.9735rem;
    margin-bottom: 0.9735rem;
    position: relative; }
    .tweets .tweet:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0; }
    .tweets .tweet .username, .tweets .tweet .message {
      float: left;
      display: block;
      width: calc(100% - 165px); }
    .tweets .tweet .username {
      padding-bottom: 0.48675rem;
      position: relative; }
      .tweets .tweet .username:after {
        content: "";
        display: block;
        background: #18406b;
        width: 35px;
        height: 1px;
        position: absolute;
        bottom: 0.243375rem;
        left: 0; }
    .tweets .tweet .message {
      font-size: 0.875rem;
      word-wrap: break-word; }
    .tweets .tweet .tweet-data {
      width: 150px;
      float: right;
      background: #18406b;
      color: white;
      text-align: center;
      padding: 0.9735rem;
      height: 100%; }
      .tweets .tweet .tweet-data .loc {
        padding: 5px;
        background: white;
        border-radius: 2px;
        font-weight: 600;
        color: #18406b;
        margin-bottom: 10px; }
        .tweets .tweet .tweet-data .loc .flag-icon {
          margin-right: 10px; }
      .tweets .tweet .tweet-data .dateTime .day, .tweets .tweet .tweet-data .dateTime .month, .tweets .tweet .tweet-data .dateTime .time {
        display: block; }
      .tweets .tweet .tweet-data .dateTime .day {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1; }
    .tweets .tweet .tone {
      display: block;
      position: absolute;
      font-size: 0.75rem;
      color: white;
      padding: 0 15px;
      top: -5px;
      right: 165px; }
      .tweets .tweet .tone:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 5px 5px;
        position: absolute;
        left: -5px; }
      .tweets .tweet .tone.tone-neutral {
        background: #424242; }
        .tweets .tweet .tone.tone-neutral:before {
          border-color: transparent transparent #0f0f0f transparent; }
      .tweets .tweet .tone.tone-good {
        background: #18406b; }
        .tweets .tweet .tone.tone-good:before {
          border-color: transparent transparent #050e18 transparent; }
      .tweets .tweet .tone.tone-bad {
        background: #e7bf94; }
        .tweets .tweet .tone.tone-bad:before {
          border-color: transparent transparent #d48d41 transparent; }
    .tweets .tweet:before {
      content: "";
      width: 125px;
      height: 1px;
      background: #2b292a;
      position: absolute;
      top: 0px;
      right: 160px; }
    .tweets .tweet:after {
      content: "";
      clear: both;
      display: table; }

.trends {
  margin: 0 0 0.9735rem; }
  .trends li {
    padding: 0 0 10px;
    list-style: none; }
    .trends li .number {
      margin-right: 15px;
      border-radius: 20px;
      display: inline-block;
      padding: 5px;
      color: white;
      width: 30px; }
  .trends.pos li .number {
    background-color: #18406b; }
  .trends.neg li .number {
    background-color: #e7bf94; }

button {
  padding: 15px 25px;
  background-color: #18406b;
  color: white; }
  button:hover {
    background-color: #133456; }
